__mocks__
__tests__
.cache
.extras
.git
.scannerwork
.vscode
coverage
dist
node_modules
scripts
.depcheckrc.yml
.editorconfig
.env.STUDENT
.eslint*
.git*
.hadolint.yaml
.markdownlint*
.prettier*
.snyk
Dockerfile*
Jenkinsfile
jest.config.ts
ToDo.md
typedoc.cjs
